<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('layouts/header'); -%> 

</head>

<body>

  <%- include('layouts/navbar'); -%> 

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>À Propos</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          Gordon est un alias pour Arthur Freeman, un étudiant en Sciences Informatiques à l'Université de Genève. 
          Ce blog a pour but de regrouper et présenter mes divers projets de développement. 
          Surtout dans le domaine du développement web.
        </p>
        <p>
          Ce blog est un projet personnel, développé en Node.js en me basant sur un livre, le back-end est hosté
          sur Raspberry Pi utilisant des conteneurs docker et le système de bases de données MongoDB.
        </p>
        <p>
          Si vous souhaitez me contacter, utilisez l'onglet Contact, vous recevrez un courriel de réponse
          de ma part dans les jours qui suivent.
        </p>
      </div>
    </div>
  </div>

  <hr>

  <%- include('layouts/footer'); -%>
  <%- include('layouts/scripts'); -%> 

</body>

</html>
