<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layouts/header'); -%>
  <Title>Gordon's Game of Life</Title>
  <script src="/js/p5.js"></script>
  <script src="/js/billard/balls.js"></script>
  <script src="/js/billard/utilities.js"></script>
</head>

<body>
  <%- include('layouts/navbar'); -%> 
  <header class="masthead" style="background-image: url('/img/projects.jpg');height:4pc"></header>
  <div class="container">
    <h1 style="width:72%;margin:auto;">Freeman's Billard.</h1>
    <div class="row" id="parent">
      <script src="/js/billard/billard.js"></script>
    </div>
  </div>

  
  <%- include('layouts/footer'); -%>
  <%- include('layouts/scripts'); -%> 
</body>
  
</html>
