<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layouts/header'); -%>
</head>

<body>
  <%- include('layouts/navbar'); -%> 
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/contact-bg.jpg');height:25pc">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Projets</h1>
            <h2>Projets personnels</h2>
          </div>
        </div>
      </div>
    </div>
  </header>
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <!-- "-" renders as html instead of text.-->
          <ul>
            <li>
              <a href="/pages/projects/life" style="color:cornflowerblue;">Jeu de la vie</a>
              <br><p>
              Le jeu de la vie est un automate cellulaire imaginé par Conway. 
              C'est un jeu qui se base sur un plateau de cellules, une cellule
              peut être vivante ou morte en fonction du nombre de cellules voisines
              vivantes. On peut créer diverses structures aux propriétées intéréssantes.
              Il est implémenté ici en JavaScript, utilisant la librairie graphique 
              <a href="https://p5js.org/" style="color:cornflowerblue;">p5.js</a> qui est une super API afin de développer des applications
              graphiques rapidement. (Date de 2021)</p>
              <a href="https://fr.wikipedia.org/wiki/Jeu_de_la_vie" target="_blank" style="color:cornflowerblue;">Lire plus sur wiki.</a>
            </li>
            <br>
            <li>
                <a href="/pages/projects/billard" style="color:cornflowerblue;">Billard</a>
                <br><p>Un classique jeu de bars, et surtout un challenge en programmation,
                le billard est un jeu qui peut mener la simulation informatique au bout. 
                Cette version, développée en <a href="https://p5js.org/" style="color:cornflowerblue;">p5.js</a>
                prends en compte les frottements et collisions, mais ne prends pas en compte les
                moments d'inertie. Les collisions sont basées sur <a href="https://www.vobarian.com/collisions/2dcollisions2.pdf">ce document</a>
                qui couvre la physique des collisions (Date de 2020). 
            </li>
            <li>
                <a href="https://drive.google.com/file/d/1Jv7HKKP-_H1lAa64JgOZm4J-vTGairsQ/view?usp=sharing" style="color:cornflowerblue;">Dynamic Shooter</a>
                <br><p>Basé sur le format de Shoot Em' Up, ce jeu a été développé en Pascal avec l'IDE
                <a href="https://www.lazarus-ide.org/">Lazarus</a> en tant que projet de Maturité sur un 
                semestre et en grosse partie au <a href="http://www.lajoiedevivre.net/colo/index.php?page=camps">camp d'Informatique de Caritas Genève.</a> 
                qui prends lieu 3 semaines pendant les vacances d'été, et chaque journée consiste en une demie journée
                d'activités en nature, et l'autre moitié programmation, organisé par <a href="https://www.hesge.ch/geneve/annuaire/gerard-ineichen/contact">Gérard Ineichen</a> 
                ancien professeur  d'HES-SO Genève en Informatique de Gestion.
                <p>Attention : Ce .exe ne fonctionnera que sur les systèmes Windows/x86. Ne fonctionnera pas avec Wine sous systèmes Unix. (date de 2019)</p> 
            </li>
            <li>
              <a href="https://drive.google.com/file/d/1y53qALqctDfBe3xdTIQ1Efq417ibqkDs/view?usp=sharing" style="color:cornflowerblue;">Meteor Game</a>
              <br><p>Autre jeu développé en Pascal, datant de 2018. Il se base sur un personnage qui évite des météorites qui tombent avec une fréquence qui
              augmente au fur et à mesure. 
              <p>Attention : Cet executable ne fonctionnera que sur les systèmes Windows/x86. Ne fonctionnera pas avec Wine sous systèmes Unix. (date de 2018)</p> 
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
  

  <%- include('layouts/footer'); -%>
  <%- include('layouts/scripts'); -%> 

</body>

</html>
