<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layouts/header'); -%>
</head>

<body>
  <%- include('layouts/navbar'); -%> 
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/contact-bg.jpg');height:25pc">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Projets</h1>
            <h2>Projets personnels</h2>
          </div>
        </div>
      </div>
    </div>
  </header>
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <!-- "-" renders as html instead of text.-->
          <ul>
            <li>
              <a href="/pages/projects/life" style="color:cornflowerblue;">Jeu de la vie</a>
              <br><p>
              Le jeu de la vie est un automate cellulaire imaginé par Conway. 
              C'est un jeu qui se base sur un plateau de cellules, une cellule
              peut être vivante ou morte en fonction du nombre de cellules voisines
              vivantes. On peut créer diverses structures aux propriétées intéréssantes.
              Il est implémenté ici en JavaScript, uitilisant la librairie graphique 
              <a href="https://p5js.org/" style="color:cornflowerblue;">p5.js</a> qui est une super API afin de développer des applications
              graphiques rapidement.</p>
              <a href="https://fr.wikipedia.org/wiki/Jeu_de_la_vie" target="_blank" style="color:cornflowerblue;">Lire plus sur wiki.</a>
            </li>
            <br>
            <li>
                <a href="/pages/projects/billard" style="color:cornflowerblue;">Billard</a>
                <br><p>Un classique jeu de bars, et surtout un challenge en programmation,
                le billard est un jeu qui peut mener la simulation informatique au bout. 
                Cette version, développée en <a href="https://p5js.org/" style="color:cornflowerblue;">p5.js</a>
                prends en compte les frottements et collisions, mais ne prends pas en compte les
                moments d'inertie. Les collisions sont basées sur <a href="https://www.vobarian.com/collisions/2dcollisions2.pdf">ce document</a>
                qui couvre la physique des collisions. 
            </li>
            <li>
              Dynamic Shooter
            </li>
            <li>
              Meteor Game
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
  

  <%- include('layouts/footer'); -%>
  <%- include('layouts/scripts'); -%> 

</body>

</html>
